In [1]:
import findspark
findspark.init()
findspark.find()

'D:\\Anaconda\\lib\\site-packages\\pyspark'

In [30]:
from pyspark.sql import SparkSession
  
spark = SparkSession.builder.getOrCreate()

In [31]:
df = spark.read.csv("weekly_boarding.csv")

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)

In [32]:
from pyspark.sql.types import StructType, StructField,StringType, IntegerType, DoubleType, LongType,DateType

schema = StructType([StructField("TripID", IntegerType(), True),
                         StructField("RouteID", StringType(), True),StructField("StopID", IntegerType(), True),
				StructField("StopName", StringType(), True),StructField("WeekBegining", DateType(), True)
				,StructField("NumberOfBoardings", IntegerType(), True),StructField("formatted_address", StringType(), True)
				,StructField("latitude", DoubleType(), True),StructField("longitude", DoubleType(), True)
				,StructField("postcode", StringType(), True),StructField("type", StringType(), True)
				,StructField("route_desc", StringType(), True),StructField("dist_from_centre", DoubleType(), True),StructField("holiday_label", IntegerType(), True)])

from pyspark.sql.types import StructType, StructField,StringType, IntegerType, DoubleType, LongType,DateType

schema = StructType([StructField("TripID", IntegerType(), True),
                         StructField("RouteID", StringType(), True),StructField("StopID", IntegerType(), True),
				StructField("StopName", StringType(), True),StructField("WeekBegining", DateType(), True)
				,StructField("NumberOfBoardings", IntegerType(), True),StructField("formatted_address", StringType(), True)
				,StructField("latitude", DoubleType(), True),StructField("longitude", DoubleType(), True)
				,StructField("postcode", StringType(), True),StructField("type", StringType(), True)
				,StructField("route_desc", StringType(), True),StructField("dist_from_centre", DoubleType(), True),StructField("holiday_label", IntegerType(), True)])

In [6]:
schema = StructType().add("TripID",IntegerType(),True).add("RouteID",StringType(),True).add("StopID",IntegerType(),True).add("StopName",StringType(),True).add("WeekBegining",DateType(),True).add("NumberOfBoardings",IntegerType(),True).add("formatted_address",StringType(),True).add("latitude",DoubleType(),True).add("longitude",DoubleType(),True).add("postcode",StringType(),True).add("type",StringType(),True).add("route_desc",StringType(),True).add("dist_from_centre",DoubleType(),True).add("holiday_label",IntegerType(),True)

In [33]:
df_with_schema=spark.read.format("csv").option("header","True").schema(schema).load("weekly_boarding.csv")

In [34]:
df_with_schema.show()

+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
|TripID|RouteID|StopID|            StopName|WeekBegining|NumberOfBoardings|   formatted_address|           latitude|         longitude|postcode|           type|          route_desc|  dist_from_centre|holiday_label|
+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
| 23631|    100| 14156|        181 Cross Rd|  2013-06-30|                1|181 Cross Rd, Wes...|        -34.9666565|       138.5921483|    5041| street_address|via Woodville Roa...| 5.180961380506887|            0|
| 23631|    100| 14144|        177 Cross Rd|  2013-06-30|                1|177 Cross Rd, Wes...|        -34.9666071|       138.5923007|    5041| street_address|via Woodville Roa...| 5.172525305414759|            0|
| 23632|    100| 14132|        175 Cross Rd|  2013-06-30|                1|175 Cross Rd, Wes...|-34.966757799999996|       138.5927151|    5041| street_address|via Woodville Roa...| 5.180708757110343|            0|
| 23633|    100| 12266|Zone A Arndale In...|  2013-06-30|                2|Zone A Arndale In...|          -34.87516|        138.551628|    5009|transit_station|via Woodville Roa...| 7.057549100180063|            0|
| 23633|    100| 14147|        178 Cross Rd|  2013-06-30|                1|178 Cross Rd, Mal...|        -34.9649596|        138.611477|    5061| street_address|via Woodville Roa...| 4.900099234428335|            0|
| 23634|    100| 13907|       9A  Marion Rd|  2013-06-30|                1|9 Marion Rd, Torr...|        -34.9256552|       138.5523584|    5031| street_address|via Woodville Roa...| 4.807796587273396|            0|
| 23634|    100| 14132|        175 Cross Rd|  2013-06-30|                1|175 Cross Rd, Wes...|-34.966757799999996|       138.5927151|    5041| street_address|via Woodville Roa...| 5.180708757110343|            0|
| 23634|    100| 13335|    9A  Holbrooks Rd|  2013-06-30|                1|9 Holbrooks Rd, F...|        -34.9058902|       138.5511989|    5025| street_address|via Woodville Roa...| 5.178866284604099|            0|
| 23634|    100| 13875|        9  Marion Rd|  2013-06-30|                1|9 Marion Rd, Torr...|        -34.9256552|       138.5523584|    5031| street_address|via Woodville Roa...| 4.807796587273396|            0|
| 23634|    100| 13045|    206 Holbrooks Rd|  2013-06-30|                1|206 Holbrooks Rd,...|-34.922813500000004|       138.5484784|    5032| street_address|via Woodville Roa...| 5.139625006923029|            0|
| 23635|    100| 13335|    9A  Holbrooks Rd|  2013-06-30|                1|9 Holbrooks Rd, F...|        -34.9058902|       138.5511989|    5025| street_address|via Woodville Roa...| 5.178866284604099|            0|
| 23635|    100| 13383|       8A  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 13586|       8D  Marion Rd|  2013-06-30|                2|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 12726|       23  Findon Rd|  2013-06-30|                1|23 Findon Rd, Woo...|-34.882402299999995|       138.5312475|    5011|        premise|via Woodville Roa...| 7.980582863248004|            0|
| 23635|    100| 13813|       8K  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 14062|        20  Cross Rd|  2013-06-30|                1|20 Cross Rd, Urrb...|        -34.9639244|138.63896709999997|    5064| street_address|via Woodville Roa...| 5.677892683112502|            0|
| 23636|    100| 12780|  22A  Crittenden Rd|  2013-06-30|                1|22 Crittenden Rd,...|-34.903504600000005|       138.5449643|    5023| street_address|via Woodville Roa...| 5.803639984741648|            0|
| 23636|    100| 13383|       8A  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23636|    100| 14154|        180 Cross Rd|  2013-06-30|                2|180 Cross Rd, Mal...|         -34.965057|       138.6109484|    5061| street_address|via Woodville Roa...|4.9051084510922465|            0|
| 23636|    100| 13524|       8C  Marion Rd|  2013-06-30|                3|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
only showing top 20 rows

In [9]:
df_with_schema.printSchema()

root
 |-- TripID: integer (nullable = true)
 |-- RouteID: string (nullable = true)
 |-- StopID: integer (nullable = true)
 |-- StopName: string (nullable = true)
 |-- WeekBegining: date (nullable = true)
 |-- NumberOfBoardings: integer (nullable = true)
 |-- formatted_address: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- postcode: string (nullable = true)
 |-- type: string (nullable = true)
 |-- route_desc: string (nullable = true)
 |-- dist_from_centre: double (nullable = true)
 |-- holiday_label: integer (nullable = true)

In [35]:
df_with_schema.registerTempTable("bus_boarding")

D:\Anaconda\lib\site-packages\pyspark\sql\dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [11]:
df_with_schema.count()

10857234

In [12]:
len(df_with_schema.columns)

14

In [13]:
df_with_schema.columns

['TripID',
 'RouteID',
 'StopID',
 'StopName',
 'WeekBegining',
 'NumberOfBoardings',
 'formatted_address',
 'latitude',
 'longitude',
 'postcode',
 'type',
 'route_desc',
 'dist_from_centre',
 'holiday_label']

In [14]:
import pandas as pd
import numpy as np

In [15]:
import datetime
from datetime import datetime

In [16]:
from pyspark.sql import functions as F

df_with_schema.select(*[
    (
        F.count(F.when((F.isnan(c) | F.col(c).isNull()), c)) if t not in ("timestamp", "date")
        else F.count(F.when(F.col(c).isNull(), c))
    ).alias(c)
    for c, t in df_with_schema.dtypes if c in df_with_schema.columns
]).show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|     0|      0|     0|       0|           0|                0|             3506|       0|        0|  425081|   0|   2106618|               0|            0|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [17]:

df_with_schema=df_with_schema.na.fill("unknown",["formatted_address"])

In [18]:
from pyspark.sql.functions import col
df_with_schema.filter(df_with_schema.formatted_address.isNull()).show()
#df_with_schema.filter("formatted_address is NULL").show()
#df_with_schema.filter(col("formatted_address").isNull()).show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [19]:
df_with_schema=df_with_schema.na.fill("unknown",["route_desc"])

In [20]:
df_with_schema.filter(df_with_schema.route_desc.isNull()).show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [21]:
from pyspark.sql import functions as F

df_with_schema.select(*[
    (
        F.count(F.when((F.isnan(c) | F.col(c).isNull()), c)) if t not in ("timestamp", "date")
        else F.count(F.when(F.col(c).isNull(), c))
    ).alias(c)
    for c, t in df_with_schema.dtypes if c in df_with_schema.columns
]).show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|     0|      0|     0|       0|           0|                0|                0|       0|        0|  425081|   0|         0|               0|            0|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [22]:
from pyspark.sql.functions import col
df_duplicates = df_with_schema.groupBy(df_with_schema.columns).count().filter(col("count")>1)
df_duplicates.show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+-----+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|count|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+-----+
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+-----+

In [23]:
df_with_schema.count()

10857234

In [24]:
df_with_schema=df_with_schema.na.drop()

In [25]:
df_with_schema.show()

+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
|TripID|RouteID|StopID|            StopName|WeekBegining|NumberOfBoardings|   formatted_address|           latitude|         longitude|postcode|           type|          route_desc|  dist_from_centre|holiday_label|
+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
| 23631|    100| 14156|        181 Cross Rd|  2013-06-30|                1|181 Cross Rd, Wes...|        -34.9666565|       138.5921483|    5041| street_address|via Woodville Roa...| 5.180961380506887|            0|
| 23631|    100| 14144|        177 Cross Rd|  2013-06-30|                1|177 Cross Rd, Wes...|        -34.9666071|       138.5923007|    5041| street_address|via Woodville Roa...| 5.172525305414759|            0|
| 23632|    100| 14132|        175 Cross Rd|  2013-06-30|                1|175 Cross Rd, Wes...|-34.966757799999996|       138.5927151|    5041| street_address|via Woodville Roa...| 5.180708757110343|            0|
| 23633|    100| 12266|Zone A Arndale In...|  2013-06-30|                2|Zone A Arndale In...|          -34.87516|        138.551628|    5009|transit_station|via Woodville Roa...| 7.057549100180063|            0|
| 23633|    100| 14147|        178 Cross Rd|  2013-06-30|                1|178 Cross Rd, Mal...|        -34.9649596|        138.611477|    5061| street_address|via Woodville Roa...| 4.900099234428335|            0|
| 23634|    100| 13907|       9A  Marion Rd|  2013-06-30|                1|9 Marion Rd, Torr...|        -34.9256552|       138.5523584|    5031| street_address|via Woodville Roa...| 4.807796587273396|            0|
| 23634|    100| 14132|        175 Cross Rd|  2013-06-30|                1|175 Cross Rd, Wes...|-34.966757799999996|       138.5927151|    5041| street_address|via Woodville Roa...| 5.180708757110343|            0|
| 23634|    100| 13335|    9A  Holbrooks Rd|  2013-06-30|                1|9 Holbrooks Rd, F...|        -34.9058902|       138.5511989|    5025| street_address|via Woodville Roa...| 5.178866284604099|            0|
| 23634|    100| 13875|        9  Marion Rd|  2013-06-30|                1|9 Marion Rd, Torr...|        -34.9256552|       138.5523584|    5031| street_address|via Woodville Roa...| 4.807796587273396|            0|
| 23634|    100| 13045|    206 Holbrooks Rd|  2013-06-30|                1|206 Holbrooks Rd,...|-34.922813500000004|       138.5484784|    5032| street_address|via Woodville Roa...| 5.139625006923029|            0|
| 23635|    100| 13335|    9A  Holbrooks Rd|  2013-06-30|                1|9 Holbrooks Rd, F...|        -34.9058902|       138.5511989|    5025| street_address|via Woodville Roa...| 5.178866284604099|            0|
| 23635|    100| 13383|       8A  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 13586|       8D  Marion Rd|  2013-06-30|                2|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 12726|       23  Findon Rd|  2013-06-30|                1|23 Findon Rd, Woo...|-34.882402299999995|       138.5312475|    5011|        premise|via Woodville Roa...| 7.980582863248004|            0|
| 23635|    100| 13813|       8K  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 14062|        20  Cross Rd|  2013-06-30|                1|20 Cross Rd, Urrb...|        -34.9639244|138.63896709999997|    5064| street_address|via Woodville Roa...| 5.677892683112502|            0|
| 23636|    100| 12780|  22A  Crittenden Rd|  2013-06-30|                1|22 Crittenden Rd,...|-34.903504600000005|       138.5449643|    5023| street_address|via Woodville Roa...| 5.803639984741648|            0|
| 23636|    100| 13383|       8A  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23636|    100| 14154|        180 Cross Rd|  2013-06-30|                2|180 Cross Rd, Mal...|         -34.965057|       138.6109484|    5061| street_address|via Woodville Roa...|4.9051084510922465|            0|
| 23636|    100| 13524|       8C  Marion Rd|  2013-06-30|                3|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
only showing top 20 rows

In [26]:
df_with_schema.count()

10432153

In [27]:
10857234-10432153

425081

In [28]:
from pyspark.sql import functions as F

df_with_schema.select(*[
    (
        F.count(F.when((F.isnan(c) | F.col(c).isNull()), c)) if t not in ("timestamp", "date")
        else F.count(F.when(F.col(c).isNull(), c))
    ).alias(c)
    for c, t in df_with_schema.dtypes if c in df_with_schema.columns
]).show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|     0|      0|     0|       0|           0|                0|                0|       0|        0|       0|   0|         0|               0|            0|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [29]:
grouped_max=df_with_schema.groupBy('StopName',"WeekBegining",'type').max("NumberOfBoardings")

In [30]:
grouped_max.show(5)

+----------------+------------+--------------+----------------------+
|        StopName|WeekBegining|          type|max(NumberOfBoardings)|
+----------------+------------+--------------+----------------------+
|  11A  Marion Rd|  2013-08-04|street_address|                    44|
|   23  Findon Rd|  2013-08-04|       premise|                    44|
|    169 Cross Rd|  2013-08-11|street_address|                    14|
|   17  Grange Rd|  2013-08-18|street_address|                    20|
|224 Woodville Rd|  2013-08-18|street_address|                    22|
+----------------+------------+--------------+----------------------+
only showing top 5 rows

In [31]:
grouped_sum=df_with_schema.groupBy('StopName',"WeekBegining",'type').sum("NumberOfBoardings")

In [32]:
grouped_sum.show(5)

+----------------+------------+--------------+----------------------+
|        StopName|WeekBegining|          type|sum(NumberOfBoardings)|
+----------------+------------+--------------+----------------------+
|  11A  Marion Rd|  2013-08-04|street_address|                  1423|
|   23  Findon Rd|  2013-08-04|       premise|                  1196|
|    169 Cross Rd|  2013-08-11|street_address|                    85|
|   17  Grange Rd|  2013-08-18|street_address|                   864|
|224 Woodville Rd|  2013-08-18|street_address|                    87|
+----------------+------------+--------------+----------------------+
only showing top 5 rows

In [33]:
grouped_min=df_with_schema.groupBy('StopName',"WeekBegining",'type').min("NumberOfBoardings")

In [34]:
grouped_min.show(5)

+----------------+------------+--------------+----------------------+
|        StopName|WeekBegining|          type|min(NumberOfBoardings)|
+----------------+------------+--------------+----------------------+
|  11A  Marion Rd|  2013-08-04|street_address|                     1|
|   23  Findon Rd|  2013-08-04|       premise|                     1|
|    169 Cross Rd|  2013-08-11|street_address|                     1|
|   17  Grange Rd|  2013-08-18|street_address|                     1|
|224 Woodville Rd|  2013-08-18|street_address|                     1|
+----------------+------------+--------------+----------------------+
only showing top 5 rows

In [35]:
# get a row count
df_with_schema.count()

# print the schema (shape of your df)
df_with_schema.printSchema()
 
# get the columns as a list
df_with_schema.columns
 
# get the columns and types as tuples in a list
df_with_schema.dtypes

root
 |-- TripID: integer (nullable = true)
 |-- RouteID: string (nullable = true)
 |-- StopID: integer (nullable = true)
 |-- StopName: string (nullable = true)
 |-- WeekBegining: date (nullable = true)
 |-- NumberOfBoardings: integer (nullable = true)
 |-- formatted_address: string (nullable = false)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- postcode: string (nullable = true)
 |-- type: string (nullable = true)
 |-- route_desc: string (nullable = false)
 |-- dist_from_centre: double (nullable = true)
 |-- holiday_label: integer (nullable = true)

[('TripID', 'int'),
 ('RouteID', 'string'),
 ('StopID', 'int'),
 ('StopName', 'string'),
 ('WeekBegining', 'date'),
 ('NumberOfBoardings', 'int'),
 ('formatted_address', 'string'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('postcode', 'string'),
 ('type', 'string'),
 ('route_desc', 'string'),
 ('dist_from_centre', 'double'),
 ('holiday_label', 'int')]

In [36]:
# get a row count
df_with_schema.count()

10432153

In [37]:
grouped = df_with_schema.groupby('StopName','WeekBeginning','type')

In [38]:
from pyspark.sql.functions import count

# assume `df` is your Spark DataFrame
df_with_schema.groupBy('type').agg(count('type').alias('count')).show()

+------------------+-------+
|              type|  count|
+------------------+-------+
|   transit_station|1604089|
|           premise|1307928|
| point_of_interest|  46607|
|            school|   5248|
|      intersection|  34142|
|         political|  11250|
|    street_address|6650055|
|             route| 765559|
|        subpremise|   5892|
|        university|    470|
|real_estate_agency|    525|
|     travel_agency|     21|
|       supermarket|     57|
|       post_office|      3|
|             store|      4|
|        restaurant|    303|
+------------------+-------+

In [39]:
from pyspark.sql.functions import count, sum, max, min

In [40]:
from pyspark.sql.functions import sum, count, max, min

grouped = df_with_schema.groupBy('StopName', 'WeekBegining', 'type').agg(sum('NumberOfBoardings').alias('sum'),
                 count('NumberOfBoardings').alias('count'),
                 max('NumberOfBoardings').alias('max'),
                 min('NumberOfBoardings').alias('min'))

In [41]:
columns = grouped.columns

In [42]:
columns

['StopName', 'WeekBegining', 'type', 'sum', 'count', 'max', 'min']

In [43]:
num_rows = df_with_schema.count()
num_cols = len(df_with_schema.columns)

In [44]:
num_rows

10432153

In [45]:
num_cols

14

In [46]:
num_rows = grouped.count()

In [47]:
num_rows

198660

In [48]:
spark = SparkSession.builder.appName("pandas-to-spark").getOrCreate()

In [49]:
grouped.show(5)

+----------------+------------+--------------+----+-----+---+---+
|        StopName|WeekBegining|          type| sum|count|max|min|
+----------------+------------+--------------+----+-----+---+---+
|  11A  Marion Rd|  2013-08-04|street_address|1423|  314| 44|  1|
|   23  Findon Rd|  2013-08-04|       premise|1196|  271| 44|  1|
|    169 Cross Rd|  2013-08-11|street_address|  85|   32| 14|  1|
|   17  Grange Rd|  2013-08-18|street_address| 864|  281| 20|  1|
|224 Woodville Rd|  2013-08-18|street_address|  87|   31| 22|  1|
+----------------+------------+--------------+----+-----+---+---+
only showing top 5 rows

In [50]:
from pyspark.sql.functions import count
from pyspark.sql.window import Window
from pyspark.sql.functions import col

st_week_grp1 = (grouped.groupBy("StopName")
                        .agg(count("WeekBegining").alias("count"))
                        .select("StopName", "count")
                        .orderBy(col("count").desc()))

In [51]:
st_week_grp1.show(5)

+------------------+-----+
|          StopName|count|
+------------------+-----+
|      19 Marion Rd|   54|
|29 Tapleys Hill Rd|   54|
|      7 The Parade|   54|
|        26 Port Rd|   54|
|    U1 Grenfell St|   54|
+------------------+-----+
only showing top 5 rows

In [78]:
from pyspark.sql.functions import collect_list

aa = st_week_grp1.filter(st_week_grp1['count'] == 54) \
                 .groupBy() \
                 .agg(collect_list('StopName').alias('StopNameList')) \
                 .collect()[0]['StopNameList']

In [80]:
aa[1:20]

['29 Tapleys Hill Rd',
 '7 The Parade',
 '26 Port Rd',
 'U1 Grenfell St',
 '36 Grand Junction Rd',
 '19 Princes Rd',
 '3 Richmond Rd',
 '34C RM Williams Dr',
 '36 Bridge Rd',
 '13 Main North Rd',
 '11 Hawker St',
 '38 Dunrobin Rd',
 '10 Ashley St',
 '38 Brighton Rd',
 '56 Military Rd',
 '77F Uley Rd',
 '58 Saints Rd',
 '31 Gorge Rd',
 '51 Sandison Rd']

In [59]:
aa.count()

3132

In [60]:
from pyspark.sql.functions import count

counts = st_week_grp1.groupBy('count').agg(count('*').alias('WeekBegining'))
counts.show()

+-----+------------+
|count|WeekBegining|
+-----+------------+
|   29|           5|
|   26|          10|
|   54|        3132|
|   19|           5|
|   22|           8|
|    7|           8|
|   34|          16|
|   50|          27|
|   32|          12|
|   43|          10|
|   31|           9|
|   39|          10|
|   25|           3|
|    6|           9|
|    9|          13|
|   27|          13|
|   51|          39|
|   52|          69|
|   17|          10|
|   41|          37|
+-----+------------+
only showing top 20 rows

In [81]:
from pyspark.sql.functions import col
bb = df_with_schema.filter(col("StopName").isin(aa))

In [82]:
from pyspark.sql.functions import col

# Filter rows where the 'StopName' column is in the list of stop names
new_data = df_with_schema.filter(col('StopName').isin(aa))

In [83]:
from pyspark.sql.functions import col

filtered_data = new_data.filter(col('dist_from_centre') <= 100)
# Alternatively, you can use the where() method:
# filtered_data = new_data.where(col('dist_from_centre') <= 100)

row_count = filtered_data.count()
print("Number of rows in filtered_data:", row_count)

Number of rows in filtered_data: 9992660

In [86]:
from pyspark.sql.functions import sum

stopageName_with_boarding = bb.groupBy('StopName') \
                              .agg(sum('NumberOfBoardings').alias('sum_of_boardings'))

stopageName_with_boarding.show()

+--------------------+----------------+
|            StopName|sum_of_boardings|
+--------------------+----------------+
|        19 Marion Rd|           29980|
|  29 Tapleys Hill Rd|            7282|
|      U1 Grenfell St|           99898|
|36 Grand Junction Rd|           18233|
|        7 The Parade|           36328|
|          26 Port Rd|            4001|
|Zone A Arndale In...|           72147|
|       10  Marion Rd|            7618|
|  33A West Lakes Bvd|            5475|
|    13  Holbrooks Rd|           15131|
|        Y1 Currie St|           71560|
|        3 Dulwich Rd|            5596|
|      U1 Victoria Sq|          163863|
|        164 Cross Rd|            1427|
|      45 Fletcher Rd|            7870|
|   21  Crittenden Rd|           13438|
|        168 Cross Rd|            4443|
|      16 Portrush Rd|            3310|
|      8 Greenhill Rd|           13079|
|     18  Portrush Rd|            3115|
+--------------------+----------------+
only showing top 20 rows

In [87]:
stopageName_with_boarding = stopageName_with_boarding \
                             .withColumnRenamed('StopName', 'StopName') \
                             .withColumnRenamed('sum_of_boardings', 'Total_boarding_on_the_stopage')

stopageName_with_boarding.show()

+--------------------+-----------------------------+
|            StopName|Total_boarding_on_the_stopage|
+--------------------+-----------------------------+
|        19 Marion Rd|                        29980|
|  29 Tapleys Hill Rd|                         7282|
|      U1 Grenfell St|                        99898|
|36 Grand Junction Rd|                        18233|
|        7 The Parade|                        36328|
|          26 Port Rd|                         4001|
|Zone A Arndale In...|                        72147|
|       10  Marion Rd|                         7618|
|  33A West Lakes Bvd|                         5475|
|    13  Holbrooks Rd|                        15131|
|        Y1 Currie St|                        71560|
|        3 Dulwich Rd|                         5596|
|      U1 Victoria Sq|                       163863|
|        164 Cross Rd|                         1427|
|      45 Fletcher Rd|                         7870|
|   21  Crittenden Rd|                        13438|
|        168 Cross Rd|                         4443|
|      16 Portrush Rd|                         3310|
|      8 Greenhill Rd|                        13079|
|     18  Portrush Rd|                         3115|
+--------------------+-----------------------------+
only showing top 20 rows

In [100]:
# Find Count of Null, None, NaN of All DataFrame Columns
from pyspark.sql.functions import col,isnan, when, count
df_Columns=['TripID','RouteID','StopID','StopName','NumberOfBoardings','formatted_address','latitude','longitude','postcode','type','route_desc','dist_from_centre','holiday_label']
df_with_schema.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+------+-------+------+--------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|     0|      0|     0|       0|                0|                0|       0|        0|       0|   0|         0|               0|            0|
+------+-------+------+--------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [93]:
df_with_schema.columns

['TripID',
 'RouteID',
 'StopID',
 'StopName',
 'WeekBegining',
 'NumberOfBoardings',
 'formatted_address',
 'latitude',
 'longitude',
 'postcode',
 'type',
 'route_desc',
 'dist_from_centre',
 'holiday_label']

In [102]:
# filling Null values with others
from pyspark.sql.functions import when, col

df = df_with_schema.withColumn('route_desc', when(col('route_desc').isNull(), 'others').otherwise(col('route_desc')))

In [103]:
df

DataFrame[TripID: int, RouteID: string, StopID: int, StopName: string, WeekBegining: date, NumberOfBoardings: int, formatted_address: string, latitude: double, longitude: double, postcode: string, type: string, route_desc: string, dist_from_centre: double, holiday_label: int]

In [104]:
#To count the occurrences of each value in the route_desc column of a PySpark DataFrame, you can use the groupBy() and count() methods as follows:
from pyspark.sql.functions import desc

route_desc_counts = df_with_schema.groupBy('route_desc').count().orderBy(desc('count'))

route_desc_counts.show()

+--------------------+-------+
|          route_desc|  count|
+--------------------+-------+
|             unknown|1974222|
|via Flinders Univ...| 356917|
|via Military Road...| 322001|
|via City & O-bahn...| 307832|
|via Main North Ro...| 229590|
|via Regency Road,...| 227401|
|via St Bernards R...| 205820|
|via Para Hills, P...| 141212|
|via Sturt Road, B...| 136312|
|via Mawson Interc...| 136077|
|via Northgate & G...| 118235|
|via Addison Road ...| 117469|
|via Pierson Stree...| 115915|
|via Lyell McEwin ...| 112658|
|via Plympton Park...| 107806|
|via Liberty Grove...| 105275|
|via Main North Ro...| 103954|
|via Marion Centre...| 102146|
|via Salisbury Int...|  98991|
|via Newcastle Str...|  98159|
+--------------------+-------+
only showing top 20 rows

In [106]:
from pyspark.sql.functions import col, isnull, sum

null_count = df_with_schema.select(sum(isnull(col('TripID')).cast('integer')).alias('TripID')).collect()[0]['TripID']

print(null_count)

0

Here, we use a list comprehension to create a list of Column objects that count the number of null values in each column of the DataFrame df. We use the isnull() function to check for null values in each column, and the alias() method to give each column a name that matches its original name.


We then use the agg() method with the unpacking operator (*) to aggregate the counts of null values for each column in the DataFrame df. The resulting DataFrame has one row and one column for each column in df.


Finally, we use the show() method to display the resulting DataFrame, which shows the count of null values in each column of df.

In [107]:
#In PySpark, you can use the printSchema() method of a DataFrame to display its schema, which includes the column names and data types, as well as any nested structures or arrays.

df_with_schema.printSchema()

root
 |-- TripID: integer (nullable = true)
 |-- RouteID: string (nullable = true)
 |-- StopID: integer (nullable = true)
 |-- StopName: string (nullable = true)
 |-- WeekBegining: date (nullable = true)
 |-- NumberOfBoardings: integer (nullable = true)
 |-- formatted_address: string (nullable = false)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- postcode: string (nullable = true)
 |-- type: string (nullable = true)
 |-- route_desc: string (nullable = false)
 |-- dist_from_centre: double (nullable = true)
 |-- holiday_label: integer (nullable = true)

In [108]:
#Here, we use the groupBy() method to group the DataFrame df by the formatted_address column. We then use the count() method to count the occurrences of each value in the formatted_address column. We use the orderBy() method to sort the resulting DataFrame in descending order by the count of each value.

from pyspark.sql.functions import desc

address_counts = df_with_schema.groupBy('formatted_address').count().orderBy(desc('count'))

address_counts.show()

+--------------------+------+
|   formatted_address| count|
+--------------------+------+
|Currie St, Adelai...|228514|
|King William Stre...|130862|
|Pulteney St, Adel...|103164|
|Grote St, Adelaid...| 79589|
|Grenfell St, Adel...| 77575|
|Zone C Paradise I...| 48144|
|2 King William Rd...| 46398|
|8 Marion Rd, Unde...| 40372|
|Hutt St, Adelaide...| 37358|
|Stop G3 Grenfell ...| 36992|
|North Terrace & R...| 33800|
|33 Mawson Lakes B...| 33434|
|Stop X2 King Will...| 30427|
|Zone E Marion Int...| 30326|
|29 Sturt Rd, Brig...| 28178|
|Stop D1 King Will...| 26310|
|13 Payneham Rd, N...| 25755|
|5 Sir Donald Brad...| 25739|
|Klemzig SA 5087, ...| 25256|
|Stop U1 Victoria ...| 25166|
+--------------------+------+
only showing top 20 rows

In [109]:
# filling Null values with others
from pyspark.sql.functions import when, col

df = df_with_schema.withColumn('formatted_address', when(col('formatted_address').isNull(), 'others').otherwise(col('formatted_address')))

In [110]:
from pyspark.sql.functions import col, isnull, sum

null_count = df_with_schema.select(sum(isnull(col('formatted_address')).cast('integer')).alias('formatted_address')).collect()[0]['formatted_address']

print(null_count)

0

In [111]:
from pyspark.sql.functions import desc

postcode_counts = df_with_schema.groupBy('postcode').count().orderBy(desc('count'))

postcode_counts.show()

+--------+-------+
|postcode|  count|
+--------+-------+
|    5000|1417151|
|    5082| 332974|
|    5067| 324162|
|    5007| 309843|
|    5031| 292906|
|    5035| 290194|
|    5081| 285879|
|    5108| 259000|
|    5069| 242666|
|    5034| 241610|
|    5092| 220311|
|    5112| 206618|
|    5006| 175861|
|    5014| 173883|
|    5042| 173641|
|    5022| 156166|
|    5075| 152886|
|    5045| 147144|
|    5095| 140826|
|    5087| 137284|
+--------+-------+
only showing top 20 rows

In [112]:
#The dropna() method in PySpark is used to remove any rows that contain null or missing values. The resulting DataFrame only contains rows with complete data.
cleaned = df_with_schema.dropna()

In [113]:
from pyspark.sql.functions import col, isnull, sum

null_count = df_with_schema.select(sum(isnull(col('postcode')).cast('integer')).alias('postcode')).collect()[0]['postcode']

print(null_count)

0

In [114]:
#In PySpark, the DataFrame class does not have a shape attribute like in Pandas. However, you can use the count() and columns methods to get the number of rows and columns in the DataFrame cleaned as follows:

num_rows = cleaned.count()
num_cols = len(cleaned.columns)

print("Number of rows: {}".format(num_rows))
print("Number of columns: {}".format(num_cols))

Number of rows: 10432153
Number of columns: 14

In [115]:
10857234-10432153

425081

In [116]:
#In PySpark, you can use the isNull() method to check for null or missing values in a DataFrame. You can then use the sum() method to count the number of null values in each column of the DataFrame.
from pyspark.sql.functions import col, sum as pyspark_sum

null_counts = cleaned.select([pyspark_sum(col(c).isNull().cast("int")).alias(c) for c in cleaned.columns])

null_counts.show()

+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|TripID|RouteID|StopID|StopName|WeekBegining|NumberOfBoardings|formatted_address|latitude|longitude|postcode|type|route_desc|dist_from_centre|holiday_label|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+
|     0|      0|     0|       0|           0|                0|                0|       0|        0|       0|   0|         0|               0|            0|
+------+-------+------+--------+------------+-----------------+-----------------+--------+---------+--------+----+----------+----------------+-------------+

In [183]:
import pyspark.sql.functions as F

df_agg = (grouped.groupBy('StopName')
           .agg(F.sum('sum').alias('Boarding_sum'),
                F.sum('count').alias('Boarding_count'),
                F.max('max').alias('Boarding_max'))
           .withColumn('Boarding_sum', F.col('Boarding_sum') / 54)
           .withColumn('Boarding_count', F.col('Boarding_count') / 54)
           .withColumn('Boarding_max', F.col('Boarding_max') / 54)
           .orderBy('StopName'))

Here, we use the groupBy() method to group the DataFrame bb by the StopName column, and the agg() method to calculate the sum of the percentage change for each aggregation using the sum() and pct_change() functions from the pyspark.sql.functions module.


We then use the withColumn() method to divide each column by 54 to get the average percentage change, and the orderBy() method to sort the resulting DataFrame by the StopName column.


Finally, we use the toPandas() method to convert the resulting DataFrame d to a Pandas DataFrame pct_chng.

In [180]:
df_agg.show(5)

+--------------+------------------+------------------+------------------+
|      StopName|      Boarding_sum|    Boarding_count|      Boarding_max|
+--------------+------------------+------------------+------------------+
|   1 Anzac Hwy| 730.1666666666666|  306.037037037037| 2.925925925925926|
|  1 Botanic Rd| 275.3333333333333|173.12962962962962|0.7592592592592593|
|    1 Frome Rd|1249.2222222222222| 159.7037037037037|1.8333333333333333|
|1 Fullarton Rd|10.833333333333334| 7.092592592592593|0.2962962962962963|
|   1 George St| 94.03703703703704| 43.27777777777778|0.5370370370370371|
+--------------+------------------+------------------+------------------+
only showing top 5 rows

In [ ]:
#To get the top 5 largest values in the Boarding_sum column of the pct_chng DataFrame using PySpark, you can use the orderBy() and limit() methods as follows:
import pyspark.sql.functions as F
from pyspark.sql.functions import asc


top_5 = pct_chng.sort_values(F.col('sum').asc()).limit(5)

top_5.show()

In [184]:
# Here, we use the limit() method to select the top 3111 rows from the pct_chng DataFrame,and the collect() method to return them as a list of Row objects. 
# We then use list comprehension to select the desired rows based on their positions, and create a new DataFrame selected_df using the createDataFrame() method.
# Finally, we use the show() method to display the resulting DataFrame selected_df.
from pyspark.sql.functions import col

indices = [3110, 2134, 214, 1538, 1290]
selected_df = df_agg.filter(col("StopName").isin(indices))

selected_df.show()

+--------+------------+--------------+------------+
|StopName|Boarding_sum|Boarding_count|Boarding_max|
+--------+------------+--------------+------------+
+--------+------------+--------------+------------+

In [177]:
df_agg.printSchema()

root
 |-- StopName: string (nullable = true)
 |-- Boarding_sum: double (nullable = true)
 |-- Boarding_count: double (nullable = true)
 |-- Boarding_max: double (nullable = true)

In [2]:
from pyspark.sql import SparkSession
  
spark = SparkSession.builder.getOrCreate()

In [3]:
out_geo = spark.read.csv("output_geo.csv")

In [4]:
out_geo.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [5]:
from pyspark.sql.types import StructType, StructField,StringType, IntegerType, DoubleType, LongType,DateType

schema = StructType([StructField("accuracy",  StringType(), True),
                         StructField("formatted_address", StringType(), True),StructField("google_place_id",  StringType(), True),
				StructField("input_string", StringType(), True)
				,StructField("latitude", DoubleType(), True),StructField("longitude", DoubleType(), True),StructField("number_of_results", IntegerType(), True)
				,StructField("postcode", StringType(), True),StructField("status", StringType(), True)
				,StructField("type", StringType(), True),StructField("dist_from_centre", DoubleType(), True)])

In [6]:
out_geo_schema=spark.read.format("csv").option("header","True").schema(schema).load("output_geo.csv")

In [7]:
out_geo_schema.show()

+------------------+--------------------+--------------------+--------------------+-----------+-----------+-----------------+--------+------+--------------------+----------------+
|          accuracy|   formatted_address|     google_place_id|        input_string|   latitude|  longitude|number_of_results|postcode|status|                type|dist_from_centre|
+------------------+--------------------+--------------------+--------------------+-----------+-----------+-----------------+--------+------+--------------------+----------------+
|           ROOFTOP|181 Cross Rd, Wes...|ChIJKT7I9rbPsGoRV...|        181 Cross Rd|-34.9666565|138.5921483|                1|    5041|    OK|      street_address|            null|
|           ROOFTOP|177 Cross Rd, Wes...|ChIJ-VFZ87bPsGoRy...|        177 Cross Rd|-34.9666071|138.5923007|                1|    5041|    OK|      street_address|            null|
|           ROOFTOP|175 Cross Rd, Wes...|ChIJIztlirbPsGoR3...|        175 Cross Rd|-34.9667578|138.5927151|                1|    5041|    OK|      street_address|            null|
|  GEOMETRIC_CENTER|Zone A Arndale In...|ChIJn0C1hCPGsGoRI...|Zone A Arndale In...|  -34.87516| 138.551628|                1|    5009|    OK|bus_station,estab...|            null|
|           ROOFTOP|178 Cross Rd, Mal...|ChIJycNiylvOsGoRd...|        178 Cross Rd|-34.9649596| 138.611477|                1|    5061|    OK|      street_address|            null|
|           ROOFTOP|9 Marion Rd, Torr...|ChIJjzH6jIXFsGoRC...|       9A  Marion Rd|-34.9256552|138.5523584|                1|    5031|    OK|      street_address|            null|
|           ROOFTOP|9 Holbrooks Rd, F...|ChIJRxAIiPrFsGoRH...|    9A  Holbrooks Rd|-34.9058902|138.5511989|                1|    5025|    OK|      street_address|            null|
|           ROOFTOP|9 Marion Rd, Torr...|ChIJjzH6jIXFsGoRC...|        9  Marion Rd|-34.9256552|138.5523584|                1|    5031|    OK|      street_address|            null|
|           ROOFTOP|206 Holbrooks Rd,...|ChIJe7EbHJDFsGoRA...|    206 Holbrooks Rd|-34.9228135|138.5484784|                1|    5032|    OK|      street_address|            null|
|           ROOFTOP|8 Marion Rd, Unde...|ChIJV16rmoXFsGoRv...|       8A  Marion Rd|-34.9256164|138.5518486|                1|    5032|    OK|      street_address|            null|
|           ROOFTOP|8 Marion Rd, Unde...|ChIJV16rmoXFsGoRv...|       8D  Marion Rd|-34.9256164|138.5518486|                1|    5032|    OK|      street_address|            null|
|           ROOFTOP|23 Findon Rd, Woo...|ChIJEQPkAXHGsGoRG...|       23  Findon Rd|-34.8824023|138.5312475|                1|    5011|    OK|             premise|            null|
|           ROOFTOP|8 Marion Rd, Unde...|ChIJV16rmoXFsGoRv...|       8K  Marion Rd|-34.9256164|138.5518486|                1|    5032|    OK|      street_address|            null|
|RANGE_INTERPOLATED|20 Cross Rd, Urrb...|EicyMCBDcm9zcyBSZ...|        20  Cross Rd|-34.9639244|138.6389671|                1|    5064|    OK|      street_address|            null|
|           ROOFTOP|22 Crittenden Rd,...|ChIJG7M28-XFsGoRA...|  22A  Crittenden Rd|-34.9035046|138.5449643|                1|    5023|    OK|      street_address|            null|
|           ROOFTOP|180 Cross Rd, Mal...|ChIJwwjLTlrOsGoR1...|        180 Cross Rd| -34.965057|138.6109484|                1|    5061|    OK|      street_address|            null|
|           ROOFTOP|8 Marion Rd, Unde...|ChIJV16rmoXFsGoRv...|       8C  Marion Rd|-34.9256164|138.5518486|                1|    5032|    OK|      street_address|            null|
|           ROOFTOP|173 Cross Rd, Wes...|ChIJoeTUiLbPsGoRC...|        173 Cross Rd|-34.9666669|138.5929147|                1|    5041|    OK|      street_address|            null|
|           ROOFTOP|13 Holbrooks Rd, ...|ChIJqehpgfrFsGoRn...|    13  Holbrooks Rd|-34.9061626|138.5509804|                1|    5025|    OK|      street_address|            null|
|           ROOFTOP|218 Findon Rd, Fi...|ChIJ28FAGdvFsGoRZ...|       218 Findon Rd| -34.896977|138.5316035|                1|    5023|    OK|      street_address|            null|
+------------------+--------------------+--------------------+--------------------+-----------+-----------+-----------------+--------+------+--------------------+----------------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

def calc_dist(lat, long):
    # define your distance calculation here
    # for example, using the haversine formula
    return distance

calc_dist_udf = udf(calc_dist, DoubleType())

out_geo_schema = out_geo_schema.withColumn("dist_from_centre", calc_dist_udf("latitude", "longitude"))

In [11]:
out_geo_schema

DataFrame[accuracy: string, formatted_address: string, google_place_id: string, input_string: string, latitude: double, longitude: double, number_of_results: int, postcode: string, status: string, type: string, dist_from_centre: double]

In [24]:
from pyspark.sql.functions import when

out_geo1 = out_geo_schema.withColumn("type", when(out_geo_schema["type"].isNull(), "street_address").otherwise(out_geo_schema["type"]))

Here, we use the withColumn() method to create a new column type in the out_geo DataFrame. We use the when() function to check if the value of type is null using the isNull() method. If it is null, we replace it with the string "street_address". Otherwise, we keep the existing value using the otherwise() method.


Make sure to import the required modules at the beginning of your code before applying this operation to the DataFrame.

In [14]:
out_geo_schema.printSchema()

root
 |-- accuracy: string (nullable = true)
 |-- formatted_address: string (nullable = true)
 |-- google_place_id: string (nullable = true)
 |-- input_string: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- number_of_results: integer (nullable = true)
 |-- postcode: string (nullable = true)
 |-- status: string (nullable = true)
 |-- type: string (nullable = true)
 |-- dist_from_centre: double (nullable = true)

In [16]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Define a UDF to extract the last element of a comma-separated string
extract_last = udf(lambda x: str(x).split(',')[-1], StringType())

# Apply the UDF to the "type" column of the DataFrame
out_geo = out_geo_schema.withColumn("type", extract_last("type"))

This code first defines a User-Defined Function (UDF) using the udf() function from PySpark. The UDF takes a string as input, splits it by commas, and returns the last element of the resulting list as a string.

Then, the withColumn() method is used to apply the UDF to the "type" column of the out_geo DataFrame, and assign the result back to the "type" column.

In [25]:
from pyspark.sql.functions import col, isnull, sum

null_count = out_geo1.select(sum(isnull(col('type')).cast('integer')).alias('type')).collect()[0]['type']

print(null_count)

0

In [27]:
unique_types = out_geo_schema.select("type").distinct()
unique_types.show()

+--------------------+
|                type|
+--------------------+
|premise,street_ad...|
|   country,political|
|establishment,poi...|
|          subpremise|
|                null|
|             premise|
|establishment,poi...|
|establishment,poi...|
|administrative_ar...|
|bar,establishment...|
|establishment,poi...|
|        intersection|
|establishment,poi...|
|establishment,gym...|
|book_store,cafe,e...|
|establishment,poi...|
|establishment,fin...|
|establishment,lod...|
|establishment,lod...|
|      street_address|
+--------------------+
only showing top 20 rows

This code selects only the "type" column from the out_geo DataFrame using the select() method, and then applies the distinct() method to get the unique values. The resulting unique_types DataFrame contains only one column with the unique values of the "type" column in out_geo.

Finally, the show() method is used to display the contents of the unique_types DataFrame, which will output a table with one row for each unique value of the "type" column.

In [29]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Define the holiday_label function as a UDF
def holiday_label(row):
    if row == datetime.date(2013, 9, 1) :
        return '1'
    if row == datetime.date(2013, 10, 6) :
        return '1'
    if row == datetime.date(2013, 12, 22) :
        return '2'
    if row == datetime.date(2013, 12, 29):
        return '1'
    if row == datetime.date(2014, 1, 26):
        return '1'
    if row == datetime.date(2014, 3, 9):
        return '1'
    if row == datetime.date(2014, 4, 13) :
        return '2'
    if row == datetime.date(2014, 4, 20):
        return '2'
    if row == datetime.date(2014, 6, 8):
        return '1'
    return '0'

holiday_label_udf = udf(holiday_label, StringType())

In [37]:
from pyspark.sql.functions import to_date, date_format

df_with_schema.withColumn("WeekBegining", to_date(date_format("WeekBegining", "dd/MM/yyyy")))

DataFrame[TripID: int, RouteID: string, StopID: int, StopName: string, WeekBegining: date, NumberOfBoardings: int, formatted_address: string, latitude: double, longitude: double, postcode: string, type: string, route_desc: string, dist_from_centre: double, holiday_label: int]

In [38]:
df_with_schema.show()

+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
|TripID|RouteID|StopID|            StopName|WeekBegining|NumberOfBoardings|   formatted_address|           latitude|         longitude|postcode|           type|          route_desc|  dist_from_centre|holiday_label|
+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
| 23631|    100| 14156|        181 Cross Rd|  2013-06-30|                1|181 Cross Rd, Wes...|        -34.9666565|       138.5921483|    5041| street_address|via Woodville Roa...| 5.180961380506887|            0|
| 23631|    100| 14144|        177 Cross Rd|  2013-06-30|                1|177 Cross Rd, Wes...|        -34.9666071|       138.5923007|    5041| street_address|via Woodville Roa...| 5.172525305414759|            0|
| 23632|    100| 14132|        175 Cross Rd|  2013-06-30|                1|175 Cross Rd, Wes...|-34.966757799999996|       138.5927151|    5041| street_address|via Woodville Roa...| 5.180708757110343|            0|
| 23633|    100| 12266|Zone A Arndale In...|  2013-06-30|                2|Zone A Arndale In...|          -34.87516|        138.551628|    5009|transit_station|via Woodville Roa...| 7.057549100180063|            0|
| 23633|    100| 14147|        178 Cross Rd|  2013-06-30|                1|178 Cross Rd, Mal...|        -34.9649596|        138.611477|    5061| street_address|via Woodville Roa...| 4.900099234428335|            0|
| 23634|    100| 13907|       9A  Marion Rd|  2013-06-30|                1|9 Marion Rd, Torr...|        -34.9256552|       138.5523584|    5031| street_address|via Woodville Roa...| 4.807796587273396|            0|
| 23634|    100| 14132|        175 Cross Rd|  2013-06-30|                1|175 Cross Rd, Wes...|-34.966757799999996|       138.5927151|    5041| street_address|via Woodville Roa...| 5.180708757110343|            0|
| 23634|    100| 13335|    9A  Holbrooks Rd|  2013-06-30|                1|9 Holbrooks Rd, F...|        -34.9058902|       138.5511989|    5025| street_address|via Woodville Roa...| 5.178866284604099|            0|
| 23634|    100| 13875|        9  Marion Rd|  2013-06-30|                1|9 Marion Rd, Torr...|        -34.9256552|       138.5523584|    5031| street_address|via Woodville Roa...| 4.807796587273396|            0|
| 23634|    100| 13045|    206 Holbrooks Rd|  2013-06-30|                1|206 Holbrooks Rd,...|-34.922813500000004|       138.5484784|    5032| street_address|via Woodville Roa...| 5.139625006923029|            0|
| 23635|    100| 13335|    9A  Holbrooks Rd|  2013-06-30|                1|9 Holbrooks Rd, F...|        -34.9058902|       138.5511989|    5025| street_address|via Woodville Roa...| 5.178866284604099|            0|
| 23635|    100| 13383|       8A  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 13586|       8D  Marion Rd|  2013-06-30|                2|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 12726|       23  Findon Rd|  2013-06-30|                1|23 Findon Rd, Woo...|-34.882402299999995|       138.5312475|    5011|        premise|via Woodville Roa...| 7.980582863248004|            0|
| 23635|    100| 13813|       8K  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23635|    100| 14062|        20  Cross Rd|  2013-06-30|                1|20 Cross Rd, Urrb...|        -34.9639244|138.63896709999997|    5064| street_address|via Woodville Roa...| 5.677892683112502|            0|
| 23636|    100| 12780|  22A  Crittenden Rd|  2013-06-30|                1|22 Crittenden Rd,...|-34.903504600000005|       138.5449643|    5023| street_address|via Woodville Roa...| 5.803639984741648|            0|
| 23636|    100| 13383|       8A  Marion Rd|  2013-06-30|                1|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
| 23636|    100| 14154|        180 Cross Rd|  2013-06-30|                2|180 Cross Rd, Mal...|         -34.965057|       138.6109484|    5061| street_address|via Woodville Roa...|4.9051084510922465|            0|
| 23636|    100| 13524|       8C  Marion Rd|  2013-06-30|                3|8 Marion Rd, Unde...|-34.925616399999996|       138.5518486|    5032| street_address|via Woodville Roa...| 4.853616975966056|            0|
+------+-------+------+--------------------+------------+-----------------+--------------------+-------------------+------------------+--------+---------------+--------------------+------------------+-------------+
only showing top 20 rows

In [41]:

df = df_with_schema.withColumn("WeekBegining", to_date("WeekBegining")) \
       .withColumn("holiday_label", holiday_label_udf("WeekBegining"))

# Predictive Modelling